{% extends 'base.html' %}
{% block content %}
    <h1>Node Information</h1>
    <p><strong>Synced:</strong> {{ node_info.synced }}</p>
    <p><strong>Blocks:</strong> {{ node_info.blocks }}</p>
    <p><strong>Peers ({{ node_info.peer_count }}):</strong></p>
    <table>
        <thead>
            <tr>
                <th>Last Block Hash</th>
                <th>Peer</th>
                <th>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            {% for peer in node_info.peers %}
            <tr>
                <td>{{node_info.last_block_hash[:4]}}...{{node_info.last_block_hash[-4:]}}</td>
                <td>{{ peer }}</td>
                <td>{{node_info.difficulty}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Last Block Time:</strong> {{ node_info.last_block_time }}</p>
    <h1>Enter Wallet Address</h1>
    <form method="post">
        <input type="text" name="address" placeholder="Enter wallet address" required>
        <input type="submit" value="Get Balance">
    </form>
    {% if address %}
    <div>
        <strong>Balance for {{ address }}:</strong> {{ balance }}
    </div>
    {% endif %}
{% endblock %}
